main {
    display: block;
    padding: 20px 50px;
    margin-bottom: 100px;
    margin-top: 50px;
}

main p {
    line-height: 25px;
}

#bio img {
    margin-top: 75px;
    width: 250px;
    height: auto;
    position: relative;
    z-index: 1;
    /* border-radius: 50%; */
    overflow: hidden;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}


#text-overlay {
    /* position: absolute; */
    font-family: "Roboto", sans-serif;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: var(--main-color);
    font-size: .9rem;
    /* padding: 10px; */
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
