:root {
    --main-bg-color: #002d40;
    --secondary-color: #1aa6b7;
    /* --main-color: #f1faee; */
    --main-color: #d9ecf2;
}
* {
    box-sizing: border-box;
}

body {
    padding-bottom: 7rem;
    margin: 0;
    position: relative;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
}

header {
    text-align: center;
    color: var(--main-color);
    /* padding-bottom: 25px; */
    position: sticky;
    top: 0;
    overflow: hidden;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 50px;
    background-color: var(--main-bg-color);
}

#nav-logo {
    height: 100px;
    width: 150px;
    display: flex;
    margin: 15px;
    align-items: center;
    cursor: pointer;
}

.nav-list {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    width: 100%;
    padding: 15px 25px;
    border: none;
    border-radius: 4px;
    font-size: 1.25rem;
    color: var(--main-color)

}

nav a:hover {
    color: var(--secondary-color);
    transition: .2s ease-in-out;
}

main {
    padding-top: 5px;
    /* margin: 10px; */
    background-color: var(--main-bg-color);
}

main p {
    margin: 10px;
    line-height: 25px;
}

main h1 {
    text-align: center;
    padding-top: 15px;
}

main #about-us-main {
    margin: 0;
    color: var(--main-color);
    padding-bottom: 10px;
}

.fa-envelope {
    font-size: 3em;
}

footer {
    height: 6rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    color: var(--main-bg-color);
}

footer p {
    margin-bottom: 0;
}

#footer-icons a {
    font-size: 2em;
    text-decoration: none;
    color: var(--main-bg-color);
}

#footer-icons i:hover {
    color: var(--secondary-color);
    transition: .1s ease-in-out;
}

@media (max-width:480px) {
    header {
        text-align: center;
    }
    #nav-logo {
        height: 75px;
        width: 125px;
        margin-top: 10px;
    }
    nav {
        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;
    } 
    nav a {
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    main {
        text-align: center;
    }
}